/* Hide the float containers */
div.content {
	margin: 0em;
	padding: 0em;
	border: 0em;
	width: 100%;
}

div.message {
	margin: 0.0em;
	padding: 0.0em;
	border: 0.0em solid black;
	clear: both;
}

/* The real rules */

div.folderlist {
	float: left;
	margin-right: 1em;
}

div.folder {
}

div.folder > div.folder {
	margin-left: 0.5em;
}

div.folder > p {
	margin: 0.0em;
	padding: 0.0em;
}

div.messagelist {
	float: left;
	margin-left: 1em;
	width: 70%;
}

div.title {
	float: left;
	overflow: hidden;
	width: 50%;
	margin-right: 1em;
}

div.title > p {
	margin: 0em;
	padding: 0em;
}

div.author {
	float: left;
	width: 20%;
	overflow: hidden;
	margin-right: 1em;
}

div.author > p {
	margin: 0em;
	padding: 0em;
}


div.date {
	float: left;
	width: 20%;
	overflow: hidden;
	margin-right: 1em;
}

div.date > p {
	margin: 0em;
	padding: 0em;
}

div.message-headers > p {
	margin: 0em;
	padding: 0em;
}
